*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(78, 221, 46,0.5);
}

.inscription{
 
margin: 10%;
margin-left:25% ;
padding-left: 60px;
border: 1px solid white;
border-radius: 10px;
width: 500px;
height: 550px;
box-shadow: 2px 5px 5px  gray;
position: relative;
background-color: white;
}
h1{
    padding-bottom: 20px;
    font-size: 50px;
}
p{
    font-size: 20px;
    margin-bottom: 5px;
}
input{
    padding: 15px;
    width: 82%;
    height: 20px;
    margin-bottom: 15px;
    border-radius: 10px;
    border: 1px solid black;
    font-size: 15px;
}
button{
    position: absolute;
    bottom: 10px;
    padding: 15px;
    width: 80%;
    right: 55px;
    border-radius: 8px ;
    border: 1px solid rgb(78, 221, 46,0.5);
    color: white;
    font-size: 25px;
    background-color: rgb(78, 221, 46,0.5);

}
button:hover{
    background-color:white ;
    color: rgb(78, 221, 46,0.5);
    transition: 2s;
}
/* /connexion */
.connexion{
 
    margin: 5%;
    margin-left:25% ;
    padding-left: 60px;
    border: 1px solid black;
    border-radius: 5px;
    width: 500px;
    height: 380px;
    box-shadow: 2px 2px 2px 2px gray;
    position: relative;
    background-color: white;
    }